{{#each Jobs as |Job|}}
  <div class="row align-center mb-5">
    <div class="col-md-6">
      <h2>{{Job.company_name}}</h2>
    </div>
    <div class="col-md-6">
      <p>{{job.City}}</p>
      <p>{{Job.State}}</p>
      
      <p>{{Job.job_description}}</p>

      <a href={{Job.date_created}}> Company Website </a>
      <button class="btn btn-primary" type="submit">Apply</button>
    </div>
  </div>
{{/each}}