<div>
<header class="mainHead">
        <h1>Junior Jobs</h1>
    </header>

<div class="slide-container swiper">

  <div class="slide-content">
    <div class="card-wrapper swiper-wrapper">
      <div class="card swiper-slide">

        <div class="image-content">
          {{#each Jobs as |Job|}}
            <span class="overlay"></span>
        </div>
        <div class="card-content">
          <h2 class="name">{{Job.company_name}}</h2>
          <p class="description">{{Job.job_description}}</p>
          <p class="description">{{Job.city}}</p>
          <p class="description">{{Job.state}}</p>
          <p class="description">{{Job.date_created}}</p>
          <a href={{Job.company_website}}>{{Job.company_website}}</a>
          <a href="./api/apply"><button class="button">apply</button></a>
          {{/each}}
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>